<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Memory Monitor" 
           Manufacturer="Memory Monitor" 
           Version="1.0.0.0" 
           UpgradeCode="A8B9C7D6-E5F4-4321-9876-FEDCBA098765" 
           Compressed="yes"
           InstallerVersion="500">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of Memory Monitor is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Note: .NET runtime check removed - application is now self-contained -->
    
    <Feature Id="Main" Title="Memory Monitor" Level="1">
      <ComponentGroupRef Id="PublishedFileComponents" />
      <ComponentGroupRef Id="csComponents" />
      <ComponentGroupRef Id="deComponents" />
      <ComponentGroupRef Id="esComponents" />
      <ComponentGroupRef Id="frComponents" />
      <ComponentGroupRef Id="itComponents" />
      <ComponentGroupRef Id="jaComponents" />
      <ComponentGroupRef Id="koComponents" />
      <ComponentGroupRef Id="plComponents" />
      <ComponentGroupRef Id="pt_BRComponents" />
      <ComponentGroupRef Id="ResourcesComponents" />
      <ComponentGroupRef Id="ruComponents" />
      <ComponentGroupRef Id="trComponents" />
      <ComponentGroupRef Id="zh_HansComponents" />
      <ComponentGroupRef Id="zh_HantComponents" />
      <ComponentGroupRef Id="StartMenuShortcuts" />
      <ComponentGroupRef Id="DesktopShortcuts" />
    </Feature>
    
    <!-- Add/Remove Programs Icon -->
    <Icon Id="AppIcon.exe" SourceFile="..\Memory Monitor\bin\Release\net8.0-windows\win-x64\publish\Memory Monitor.exe" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.exe" />
    <Property Id="ARPHELPLINK" Value="https://github.com/rickbme/Memory-Monitor" />
    <Property Id="ARPNOREPAIR" Value="yes" />
    <Property Id="ARPNOMODIFY" Value="yes" />
  </Package>
  
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Memory Monitor" />
    </StandardDirectory>
    
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Memory Monitor" />
    </StandardDirectory>
    
    <StandardDirectory Id="DesktopFolder" />
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="StartMenuShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcut" Guid="78901234-0123-4321-0123-78901234ABCD">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Memory Monitor"
                  Description="System Resource Monitor"
                  Target="[INSTALLFOLDER]Memory Monitor.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.exe" />
        <RemoveFolder Id="CleanUpStartMenu" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" 
                       Key="Software\MemoryMonitor" 
                       Name="installed" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="DesktopShortcuts" Directory="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="89012345-1234-5432-1234-89012345BCDE">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="Memory Monitor"
                  Description="System Resource Monitor"
                  Target="[INSTALLFOLDER]Memory Monitor.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.exe" />
        <RegistryValue Root="HKCU" 
                       Key="Software\MemoryMonitor" 
                       Name="desktopShortcut" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>